<!DOCTYPE html>
<html>
<head>
  <title>AuthEng</title>
  <%= stylesheet_link_tag    "auth_eng/application", :media => "all" %>
  <%= javascript_include_tag "auth_eng/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= link_to "Logout", auth_eng.destroy_user_session_path, :id => 'logout', :method => :delete if current_user %>
</body>
</html>
